<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" href="./../public/style.css">
<head>

      <%- include('../partials/nav', { active: 'index' }) %>
	  
	  <form id="form2" method="POST" action="/add-entry">
            <div class="form-group">
              <label for="form-input-loginname">Name:</label>
              <input name="loginname" type="text" class="form-control" id="form-input-name" placeholder="Your name">
            </div>
            <div class="form-group">
              <label for="form-input-text">Kommentar:</label>
              <textarea name="password" class="form-control" id="form-password" rows="1" placeholder="Your comment"></textarea>
            </div>
            <button id="form-submit" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  
      
    
  <body>
    
   <div class="layout-content">
        <div class="height-length">
          <table class="striped">
            <tbody>
              <% data2.forEach(element => {%>
                <tr>
                 
                  <td class="odd"><%=element.username%>:</td>
                  <td class="even"><%=element.message%></td>
                </tr>
                <% }) %>
				<% if (element.loginname == input2) {data.forEach(element => {%>
                <tr>
                 
                  <td class="odd"><%=element.loginname%>:</td>
                  <td class="even"><%=element.Field2%></td>
                </tr>}
                <% }) %>
          </table>
		  <table class="striped">
            <tbody>
              
          </table>
        </div>
      </div>
  </body>
</html>
