<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"   href="/public/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body method="get">
  
    <div class="row text-center headerColor" style="border : 1px solid #cecece ;">  <!--Banner on top of the site-->
      <div class= "container textColor">
        <p style="font-size:28px "><h1 method="get" class="headerMessage">Instagram Clone</h1></p>
        <h2><%= message %></h2>
        <h3><%= warningMessage %></h3>
      </div>
      <div id="loginFormula">
        <form id="loginfeld"  method="post" action="/">
          <input name="loginname" type="text"  class="fadeIn second" placeholder="login">
          <input name="password"  class="fadeIn third" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
      </div>
    </div>
  
    <div id = "space"> <!--Placeholder class between Elements-->
  
    </div>

    
    <div class="container ">  <!--container with all Elements of the Instagram Post-->
      <div class="row ">
    <div class = "col whiteColor" style = "border: 1px solid #cecece;"> 
      <!--<div class="col text-center "> 
        <img src="https://www.improgrammer.net/wp-content/uploads/2017/06/kBbPmyS9L7ghV0_Mwoeq5PhVErMmqxXONr0SS9u_Xik.jpg" class="img" alt="swag" width="350" height="350">
      </div>-->
      <table>
        <tbody>
          <% 
          var i = 0;
          photo.forEach(element => {
            i = element.bildid
            %>
            <tr>
              <h1><%=element.bildid%></h1>
              <td><img width="200px" src="<%=element.base64%>"></td>
            </tr>
            <table>
              <tbody>
                <% data.forEach(element => {%>
                  <% if( element.bildid == i){%>
                  <tr>
                    <td class="text-primary"><%=element.user%>:</td>
                    <td class="text-danger"><%=element.kommentar%></td>
                  </tr>
                  <%}%>
                  <%})%>
              </tbody>
            </table>
            <% }) %>
        </tbody>
      </table>


        <hr>
        <!--
        <table>
        <tbody>
          <% data.forEach(element => {%>
            <tr>
              <td class="text-primary"><%=element.user%>:</td>
              <td class="text-danger"><%=element.kommentar%></td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    -->

     


      
    </div>
  </div>
   </div>
<div id="space">

</div>




<footer id="footer" class="container-fluid text-center" >
  <form action="/" method="post"> 
    <a href="/bildupload" >Click to Upload a Photo!</a>
    <div class = "c text-center">   <!--Comment input class-->
      <div id='form'>
        <div class="row">
          <div class="col">
            <form action="/" method="post" id="commentform">
              <div id="comments-name" class="form-row">
                <input id="kommentar" name="kommentar" type = "text" placeholder = "Enter your Comment">
                <input id="bildnummer" name="bildnummer" type = "number" placeholder = "Enter the Bildid">
                <!--<input type="submit" value="Post it!">-->
              <button id="form-submit"  type="submit" class="btn btn-primary">Post It!</button>
              </div>
          </div>
         </div>
       </div>
    </div>
  </form>
</footer> 
  
  
  </body>
  </html>
